<div class="row todo">
  <div class="col-md-6 col-sm-6">
    {{item.description}}
    <span class="label" ng-class="{
      'label-danger': item.priority === 1,
      'label-warning': item.priority === 2,
      'label-success': item.priority === 3,
    }">{{item.priority | Priority}}</span>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="btn-group pull-right">
      <button class="btn btn-success" ng-click="remove(item.id)"><i class="fa fa-check"></i> Done</button>  
    </div>
  </div>
</div>
