<div class="row">
  <div class="col-md-12">
    <h2>To Do List</h2>
    <hr>
  </div>
</div>
<form class="form-inline" ng-submit="addTodo(description, priority)">
  <div class="form-group">
    <label>Description {{description}}</label>
    <input type="text" class="form-control" ng-model="description">
  </div>
  <div class="form-group">
    <label>Priority</label>
    <input type="number" class="form-control" ng-model="priority">
  </div>
  <button type="submit" class="btn btn-default">Add Todo</button>
</form>
<hr>
<todo item="item" ng-repeat="item in todos"></todo>
