<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ngTut</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a ui-sref="todos" ui-sref-active="active">Todos</a></li>
      <li><a ui-sref="test" ui-sref-active="active">test</a></li>
    </ul>
  </div>
</nav>